@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Montserrat:wght@400;500;600;700&display=swap');

html, body {
  width: auto !important;
  overflow-x: hidden !important;
  font-family: 'Montserrat', 'sans-serif';
}

.firstSection{
padding: 0 7%;
}
.nav{
  margin: 0;
width: 100%;
  display: inline-flex;

}
.logo{
color: rgba(0,0,0,.9);
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 39px;
letter-spacing: 0.1em;
}

.text{
  margin-left:auto;
display: inline-flex;
color:  #212529;
}

.space{
  margin: auto 20px;
  line-height: 1.5;
  font-size: 1rem;
}
.firstButton{
  border-radius: 7%;
  width: 3.5cm;
  height: 1cm;
  color: #ffffff;
  background-color: #16306E;
  border: thin;
}


/* next */


.contain{
  display: inline-flex;
  padding: 7% 0 3% 7%;
  margin: 0;
  background-image: url(./images/about-blob.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right center;
  height: 12cm;
}
.abtus{
  width: 60%;
}
.abtusimg {
  width: 800px;
}

.big-text{
width: 35%;
}
.abt {
color: #000000;
font-weight: 400;
font-size: 33.62px;
line-height: 49px;
margin-bottom: 0;
}
.dang {
color: #16306E;
font-weight: 700;
}
.ips {
color: #8692A6;
font-weight: 500;
font-size: 15px;
line-height: 25px;
}


/* mission */

.mission{
  padding: 7% 7% 0 7%;

  height: 7cm;

}


.letter{
width: 40%;
margin-top: 34px;
}
.second-Sec{
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0;
}
.secondSec{
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0;
}
.mission-text{
  color: #ffffff;
  font-weight: 700px;
  font-size: 1.5rem;
}
.missiontext {
  color: #16306E;
  font-weight: 700px;
  font-size: 1.5rem;
}
.paragraph{
width: 521px;
padding-top: 2%;
color: #ffffff;
font-weight: 500;
font-size: 16px;
}
.paragra {
  color: #8692A6;
  width: 521px;
  padding-top: 2%;
  font-weight: 500;
  font-size: 16px;
}


/* definition */
.definition{
  background-image: url(./images/peoplejoininghands.jpg);
  background-color: rgba(22, 48, 110, 0.6);
  background-size: 100%;
  background-blend-mode: multiply;
  background-position: center;
}

/* work */
.work{
  padding: 7% 5% 11%;
  background-color: #F5F8FC;
}
.outer{
  display: inline-flex;
  justify-content: space-between;
}
.inner1{
  width: 40%;
}
.inner2{
  width: 50%;
}
.work-img {
  width: 600px;
  height: 400px;
}
.do{
  margin-top: 20px;
  color: #16306E;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 51px;
}
.dopiv {
  font-weight: 700;
}
.doo {
  color: #000000;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}
.para {
  color:  #8692A6;
  font-weight: 500;
  font-size: 19px;
}

/* cards */
.cards{
  padding: 7% 2%;
  text-align: center;
}

.outside{
  width: 100%;
}

.card-divs{
  max-width: 100%;
  display: flex! important;
  justify-content: center;
  padding-top: 4rem;
  margin: 0;
}
.hR{
  width: 95%;
}
.heading {
  margin-bottom: 1.5rem!important;
  border: 0;
  width: 260px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 7.90043px 2.10678px 17.3809px rgb(179 211 252 / 17%), -9.28563px 15.2426px 21.4102px rgb(179 211 252 / 23%);
  margin-left: 15px;
  border-radius: 3%;
}

.first{
  padding-top: 49px;
}
.How {
  color: #16306E;
  font-weight: 700;
  font-size: 30px;
}
.reduce {
  color: #8692A6;
  font-weight: 400;
  font-size: 12px;
}
.left{
  margin-left: 5px;
}
.pic{
  height: 121px;
  margin-bottom: 1.5rem!important;
  vertical-align: middle;
  border-style: none;
}
.staff {
  color: #16306E;
}
.position {
  text-align: center;
  padding-bottom: 10px;
  border-radius: 16px;
}

.bio{
  text-decoration: none;
  color: #3370FF;
}

/* getstarted */
.getStarted{
  padding: 3% 4%;
  background-image: url(./images/getstarted.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.GS {
  font-weight: 700;
  font-size: 45px;
  margin: 0;
}

.free {
  font-weight: 400;
  font-size: 20px;
}
.outer-div{
  display: flex;
  justify-content: center;
}
.whole-text{
  text-align: center;
  color: white;
}
.getStarted-button{
  border-radius:4%;
  padding: 4px 30px;
  width: auto;
  height: 45px;
  color: #16306E;
  background-color: white;
  border: thin;
}

/* footer */
.footer{
  padding: 10% 5%;
  background-color: #fff;
}
.boss{
  display: inline-flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  color: #16306E;
}
.ser-com{
  display: inline-flex;
  font-weight: 400;
  font-size: 15px;
}
.service{
  margin-right: 30px;
}
a{
  text-decoration: none;
  color: #16306E;
}
.icons{
}
.fa-brands{
  margin: 5px;
}
